<div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table mb-0">
          <tbody>
            <tr>
              <%= render 'shared/table', book:@book %>
              <%= render 'shared/under', book:@book %>
            </tr>
          </tbody>
        </table>
        <span class="ml-4 pl-1 d-inline-block">
            <%= link_to "#{@book.user.name}",user_path(@book.id) %>
        </span>
      </div>
    </div>
  </div>
</main>

