<main class="container px-5 mt-4">
  <div class="mx-auto col-9 col-sm-8 col-lg-7 col-xl-5 text-center">
    <h1>Welcome to
      <strong><i class="fas fa-book"></i> Bookers!</strong>
    </h1>
  </div>
</main>

